.header {
    background: #343a40;
    width: 100%;
    padding: 0 80px;
    height: 50px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

nav a {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    color: white;
}

.social a {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}




