.header {
    background: #343a40;
    width: 100%;
}


.inner_header, .navigation, .social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    height: 50px;
}

.navigation a {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    color: white;
}

.social a {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}




